body {
	font-family: 'Roboto', sans-serif;
	color: rgb(132, 132, 132);
}

section {
	padding: 50px 0;
}

h3 {
	color: rgb(34, 34, 34);
	font-size: 22px;
}

.vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#hero-banner {
	position: relative;
	background: url('../../app/img/header.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 600px;
	color: #fff;
	border-top: 10px solid #2ecc71;

	.header-text-container {
		z-index: 1;
	}

	.hand {
		background: url('../../app/img/hand.png');
		position: absolute;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		bottom: 0;
		background-position-y: bottom;
		background-position-x: 75%;
	}

	.logo {
		font-family: 'Pacifico', cursive;
		font-size: 60px;

		&::after {
			content: ".";
			color: #2ecc71;
		}
	}

	h3 {
		line-height: 1.5;
		padding: 25px 0;
		margin-right: 80px;
		color:#fff;
	}

	ul {
		padding-left: 0;
		display: block;

		li {
			display: inline-block;

			a {
				font-size: 30px;
				color: #f4f4f4;
				padding: 0 10px;

				i {
					background-color: #342118;
					border-radius: 50%;
					padding: 15px;
					width: 60px;
					height: 60px;
					text-align: center;

					&:hover {
						background-color: #2ecc71;
					}
				}

				&:hover {
					color: #fff;
				}
			}
		}
	}
}

#features {
	.features-item {
		text-align: center;
		i {
			font-size: 50px;
			color: #fff;
			background-color: #2ecc71;
			border-radius: 50%;
			width: 80px;
			height: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}

		h3 {
			margin-top: 1.5rem;
		}
	}
}

#subscribe {
	background-color: #e3e3e3;

	h3 {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.updates {
		margin-right: 100px;
	}

	.newsletter {
		margin: 20px 0;

		input {
			font-size: 18px;
			padding: 10px 20px;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}

		button {
			padding: 8px 20px;
			font-size: 18px;
			color: #fff;
			background-color: #2ecc71;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}
}

#testimonials {
	blockquote {
		border-left: none;
		p {
			font-style: italic;
		}
		cite {
			font-size: 18px;
			color: rgb(46, 46, 46);
			font-weight: bold;
			font-style: normal;
		}
	}
	
	.testimonials-people-images-container {
		margin-bottom: 4rem;

		img {
			margin-bottom: 5px;
		}
	}

	.social {
		ul {
			padding-left: 0;
			display: block;
			li {
				display: inline-block;
			}
			a {
				font-size: 30px;
				color: #f4f4f4;
				padding: 0 10px;
			}
		}
		i {
			background-color: rgb(197, 197, 197);
			border-radius: 50%;
			padding: 15px;
			width: 60px;
			height: 60px;
			&:hover {
				background-color: #2ecc71;
			}
		}
	}
}

#footer {
	padding: 40px 0;
	background-color: #e3e3e3;
	text-align: center;
	ul {
		display: block;
		padding-left: 0;
		margin: 0px;
		li {
			display: inline-block;
		}
		a {
			color: rgb(132, 132, 132);
			padding: 0 10px;
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: 993px) {
    #subscribe {
    	.updates {
    		margin-right: 0;
    	}
    }
}

@media only screen and (max-width: 768px) {
	#hero-banner {
		.hand {
			display: none;
		}
	}
	#features {
		.features-item:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	#subscribe .updates {
		margin-right: 0;
		margin-bottom: 2rem;
	}
	#testimonials {
		.testimonials-people-images-container {
			img {
				margin: 10px;
			}
		}
		.social {
			ul {
				li {
					margin-bottom: 20px;
				}
			}
		}
	}
}

